.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: cadetblue;
    border-color: cadetblue;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
}

.fa:hover {
    opacity: 0.7;
    /* margin: 10px; */
}

.fa-facebook,
.fa-twitter,
.fa-github,
.fa-linkedin {
    background: cadetblue;
    color: white;
    margin: 5px;
    text-decoration: none;
}