<div class="mainContainer container-fluid">
    <div class="sidebar-left">
        <div class="personal-info-container">
            <div class="personal-info">
                <span class="info-first-name">Piyush</span>
                <span class="info-last-name">Shrivastava</span>
                <span class="info-tagline">Full Stack Software Developer</span>
            </div>
            <div class="description-container">
                <div class="description">
                    3 years of professional experience and more than 8 years of enthusiasm for programming in Java, Javascript and Python
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="know-more-space">
            <button class="btn btn-info btn-lg">Know More</button>
        </div>
        <div class="social-buttons-space">
            <div class="social-buttons">
                <a href="https://www.linkedin.com/in/piyushshri/" target="blank" class="fa fa-linkedin"></a>
                <a href="https://github.com/piyushshri" target="blank" class="fa fa-github"></a>
                <a href="https://twitter.com/piyushshri" target="blank" class="fa fa-twitter"></a>
                <a href="https://facebook.com/piyushshri" target="blank" class="fa fa-facebook"></a>
            </div>
        </div>
    </div>
</div>